[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "corrcoverage"]
	path = corrcoverage
	url = https://github.com/annahutch/corrcoverage
	shallow = true
	registered = true
